/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2015, 1:18:55 PM
    Author     : austinchang
*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
}
table {
    margin: 0 auto;
}
table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 20px 10px 20px;
}
.movie-rating {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
}
form select, form input {
    width: 50%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
}
form select {
    text-align: center;
    width: 20%;
}
form input[type="submit"] {
    height: 30px;
    border: 0;
    background: grey;
    color: white;
    font-size: 100%;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background: #CCC;
    color: black;
}

